@tailwind base;

@layer base {
  /*
  ** <html> + <body>
  ** 1. Prevent vertical overflow on document.
  ** 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
  **    navigating between pages that do/do not have enough content to produce
  **    scrollbars naturally.
  ** 3. Ensure the page always fills at least the entire height of the viewport.
  ** 4. Make sure page is always 100% width even when we lock body scroll with overflow: hidden.
  ** 5. Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.
  ** 6. Change the default tap highlight to be completely transparent in iOS.
  */
  html {
    min-height: 100%; /* 3 */
  }

  body {
    @apply w-full; /* 4 */
    @apply bg-background text-base leading-tight text-slate-50 antialiased;
    -webkit-text-size-adjust: 100%; /* 5 */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 6 */
    -webkit-overflow-scrolling: touch;
    font-kerning: normal;
  }

  /*
  ** :root
  ** 1. Set dark color scheme on scrollbar for Chrome.
  */
  :root {
    color-scheme: dark; /* 1 */
    --default-padding: 2.4rem;
  }

  @media screen(tablet) {
    :root {
      --default-padding: 3.2rem;
    }
  }

  /*
  ** Default :focus-visible style
  */
  :focus-visible {
    @apply outline-1 outline-offset-4;
  }

  /*
  ** Responsive typography and sizes
  **
  ** This implementation is changing the root font size according to screen size.
  ** It's then important to use rem or em throughout the app to size everything correctly, in relation
  ** to viewport and typography sizes.
  */

  :root {
    --size-base: 10;
    --size-artboard: 640;
  }

  @media screen(tablet) {
    :root {
      --size-artboard: 1600;
    }
  }

  html {
    font-size: 10px;

    @media screen(tablet) {
      /* Viewport sizing calculation */
      font-size: min(10px, calc(var(--size-base) * (100vw / var(--size-artboard))));
    }
  }

  /*
  ** Text selection
  */
  ::selection {
    @apply bg-pink-600/30;
    text-shadow: none;
  }

  h1 {
    @apply bg-clip-text pb-8 text-[4rem] font-medium leading-none tracking-tight text-transparent tablet:text-80;
    background-image: linear-gradient(
      to right bottom,
      rgb(255, 255, 255) 30%,
      rgba(255, 255, 255, 0.38)
    );
  }

  h2 {
    @apply bg-clip-text pb-8 text-24 font-medium leading-none tracking-tight text-slate-400 tablet:text-48;
  }

  h3 {
    @apply bg-clip-text pb-8 text-24 font-medium leading-none tracking-tight text-slate-50;
  }

  /*
  ** <p>
  ** 1. Break overflowing words.
  ** 2. Don't display empty paragraphs.
  */
  p {
    @apply break-words; /* 1 */
    @apply text-14 text-slate-400 tablet:text-14;

    &:empty {
      @apply hidden; /* 2 */
    }
  }

  /*
  ** SVG elements should fallback to their surrounding text color.
  */
  svg {
    fill: currentColor;
  }
}
